# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Generated Raw Files
*.raw
*.glraw

/build
/build-debug
/_configure.bat
/_open-project.bat
/_start-cmake-gui.bat
/_start-console.bat

# Project files
CMakeLists.txt.user
CMakeLists.txt.user.*
*.autosave
*.sublime-project
*.sublime-workspace

# Local config
.localconfig
